<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase  /beta

RewriteRule ^packages$ ?hal=packages
RewriteRule ^support$ ?hal=support
RewriteRule ^features$ ?hal=features
RewriteRule ^signin$ ?hal=signin
RewriteRule ^signup$ ?hal=signup
RewriteRule ^404$ ?hal=not-found
RewriteRule ^forgot-password$ ?hal=forgote-password
RewriteRule ^contact-us$ ?hal=contact
RewriteRule ^career$ ?hal=career
RewriteRule ^events$ ?hal=events

</IfModule>
