<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase  /beta/member

RewriteRule ^pengaduan$ ?hal=pengaduan
RewriteRule ^demand$ ?hal=demand
RewriteRule ^demand/([0-9A-Za-z]+)/? ?hal=demand&k=$1
RewriteRule ^pengaduan/([0-9A-Za-z]+)/? ?hal=pengaduan&c=$1
RewriteRule ^pengaduan-open$ ?hal=pengaduan&a=open
RewriteRule ^pengaduan-close$ ?hal=pengaduan&a=close
RewriteRule ^dashboard$ ?hal=dashboard
RewriteRule ^billing$ ?hal=billing
RewriteRule ^change-package$ ?hal=package-upgrade
RewriteRule ^information$ ?hal=information
RewriteRule ^complete-information/([0-9A-Za-z]+)/? ?hal=complete-information&i=$1
RewriteRule ^histori-pengaduan$ ?hal=historipengaduan
RewriteRule ^edit-profile$ ?hal=editprofile
RewriteRule ^chat-pengaduan/([0-9A-Za-z]+)/? ?hal=chatpengaduan&c=$1
RewriteRule ^detail-pemasangan/([0-9A-Za-z]+)/? ?hal=detail-pemasangan&id=$1
RewriteRule ^detail-bongkar/([0-9A-Za-z]+)/? ?hal=detail-bongkar&id=$1
RewriteRule ^detail-maintenance/([0-9A-Za-z]+)/? ?hal=detail-maintenance&id=$1
RewriteRule ^detail-customer/([0-9A-Za-z]+)/? ?hal=detail-customer&id=$1
RewriteRule ^customer-list/([0-9A-Za-z]+)/? ?hal=customer-list&sales=$1
RewriteRule ^customer-list$ ?hal=customer-list
RewriteRule ^customer-profile/([0-9A-Za-z]+)/? ?hal=customer-profile&id_cust=$1
RewriteRule ^helpdesk-add$ ?hal=helpdesk-add
RewriteRule ^helpdesk-list$ ?hal=helpdesk-list
RewriteRule ^jobs-list-pending$ ?hal=jobs-list-pending
RewriteRule ^list-pengaduan$ ?hal=list-pengaduan
RewriteRule ^list-payment$ ?hal=listpayment
RewriteRule ^location-add$ ?hal=location-add
RewriteRule ^location-list$ ?hal=location-list
RewriteRule ^303$ ?hal=not-found
RewriteRule ^package-add$ ?hal=package-add
RewriteRule ^package-list$ ?hal=package-list
RewriteRule ^payment$ ?hal=payment
RewriteRule ^payment-confrim$ ?hal=paymentconfrim
RewriteRule ^registration-add$ ?hal=registration-add
RewriteRule ^report-jobs/([0-9A-Za-z]+)/? ?hal=report-jobs&id=$1
RewriteRule ^sales-add$ ?hal=sales-add
RewriteRule ^sales-list$ ?hal=sales-list
RewriteRule ^sales$ ?hal=sales-list
RewriteRule ^send-invoice$ ?hal=send-invoice
RewriteRule ^setup-done$ ?hal=setup-done
RewriteRule ^jobs/status/([0-9A-Za-z]+)/? ?hal=jobs&status=$1
RewriteRule ^jobs/support/([0-9A-Za-z]+)/? ?hal=jobs&support=$1
RewriteRule ^support-add$ ?hal=support-add
RewriteRule ^support-list$ ?hal=support-list
RewriteRule ^customer/([0-9A-Za-z]+)/? ?hal=customer&status=$1
RewriteRule ^customer$ ?hal=customer
RewriteRule ^add-on$ ?hal=add-on

RewriteRule ^support$ ?hal=support
RewriteRule ^user-add$ ?hal=user-add
RewriteRule ^user-list$ ?hal=user-list
RewriteRule ^verification-payment/([0-9A-Za-z]+)/? ?hal=verification-payment&id_cust=$1
RewriteRule ^verification-registrasi$ ?hal=verification-registrasi
RewriteRule ^write-maintenance-info$ ?hal=write-maintenance-info
RewriteRule ^logout$ ?hal=logout

</IfModule>
